.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
}

.form-label {
  font-weight: bold;
}

.btn {
  min-width: 120px;
}

.btn-primary {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-primary:hover {
  background-color:#63c7e6;
  border-color: #63c7e6;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #565e64;
  border-color: #565e64;
}

.table {
  border-collapse: collapse;
}

.table thead th {
  text-align: center;
}

.chart-container {
  display: flex;
  max-width: auto;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}