<div class="container-fluid bg-dark text-white py-3 shadow">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Logo or Brand Name -->
      <a routerLink="/home" class="navbar-brand ms-3 text-white text-decoration-none fs-3">
        <strong>ExcelSports</strong>
      </a>
  
      <!-- Navigation Menu -->
<nav>
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link text-white">Home</a>
    </li>
    
    <li class="nav-item">
      <a routerLink="/login" class="nav-link text-white">Login</a>
    </li>

    <!-- Sign Up Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sign Up
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/athlete-signup">Athlete</a></li>
        <li><a class="dropdown-item" routerLink="/coach-signup">Coach</a></li>
      </ul>
    </li>
  </ul>
</nav>

    </div>
  </div>
  